/* Reset default styles */
.login_container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position:absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* font-family: Arial, sans-serif; */
  background-image: linear-gradient(90deg, white, rgb(37, 167, 241));

  display:flex;
  justify-content: center;
  align-items: center;
}

/* Form styling */
#project-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 50px /* 72px */;
  line-height: 1;
  font-weight: 700;
}

p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 17px /* 20px */;
  line-height: 1.75rem;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity)) /* #374151 */;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-group {
  text-align: right;
}

.cancel-button, .deploy-button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.deploy-button {
  background-color: #007bff;
  color: #fff;
}

.text-emphasis{
  font-weight: bold;
  text-decoration: underline;
}